In [1]:
import os
import sys
from pyspark import SparkContext, SparkConf
from streaming.encounter_job import EncounterJob
from common.utils import PipelineUtils
spark=PipelineUtils.getSpark()
#print(SparkConf().getAll())

In [2]:
# import and optimize
spark.sql("DROP TABLE IF EXISTS flat_obs")
spark.sql("CREATE TABLE flat_obs USING DELTA LOCATION 'flat_obs_orders.delta'")   
df = spark.sql("select * from flat_obs")
df.printSchema()

root
 |-- encounter_id: integer (nullable = true)
 |-- patient_id: integer (nullable = true)
 |-- location_id: integer (nullable = true)
 |-- visit_id: long (nullable = true)
 |-- encounter_datetime: timestamp (nullable = true)
 |-- encounter_type: long (nullable = true)
 |-- dead: boolean (nullable = true)
 |-- gender: string (nullable = true)
 |-- death_date: timestamp (nullable = true)
 |-- patient_uuid: string (nullable = true)
 |-- visit_type_id: long (nullable = true)
 |-- birthdate: date (nullable = true)
 |-- obs: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- obs_id: long (nullable = true)
 |    |    |-- voided: boolean (nullable = true)
 |    |    |-- concept_id: integer (nullable = true)
 |    |    |-- obs_datetime: timestamp (nullable = true)
 |    |    |-- value: string (nullable = true)
 |    |    |-- value_type: string (nullable = true)
 |    |    |-- obs_group_id: integer (nullable = true)
 |    |    |-- parent_concept_id: integer (nullable = true)
 |-- orders: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- order_id: long (nullable = true)
 |    |    |-- order_concept_id: integer (nullable = true)
 |    |    |-- date_activated: timestamp (nullable = true)
 |    |    |-- voided: boolean (nullable = true)

In [3]:
%%time
import pyspark.sql.functions as f
nested_df = df.withColumn("obs", f.explode_outer("obs"))\
                .withColumn("orders", f.explode_outer("orders"))

nested_df.createOrReplaceTempView("nested_df")

nested_df.printSchema()

root
 |-- encounter_id: integer (nullable = true)
 |-- patient_id: integer (nullable = true)
 |-- location_id: integer (nullable = true)
 |-- visit_id: long (nullable = true)
 |-- encounter_datetime: timestamp (nullable = true)
 |-- encounter_type: long (nullable = true)
 |-- dead: boolean (nullable = true)
 |-- gender: string (nullable = true)
 |-- death_date: timestamp (nullable = true)
 |-- patient_uuid: string (nullable = true)
 |-- visit_type_id: long (nullable = true)
 |-- birthdate: date (nullable = true)
 |-- obs: struct (nullable = true)
 |    |-- obs_id: long (nullable = true)
 |    |-- voided: boolean (nullable = true)
 |    |-- concept_id: integer (nullable = true)
 |    |-- obs_datetime: timestamp (nullable = true)
 |    |-- value: string (nullable = true)
 |    |-- value_type: string (nullable = true)
 |    |-- obs_group_id: integer (nullable = true)
 |    |-- parent_concept_id: integer (nullable = true)
 |-- orders: struct (nullable = true)
 |    |-- order_id: long (nullable = true)
 |    |-- order_concept_id: integer (nullable = true)
 |    |-- date_activated: timestamp (nullable = true)
 |    |-- voided: boolean (nullable = true)

CPU times: user 2.56 ms, sys: 1.69 ms, total: 4.25 ms
Wall time: 50.5 ms

In [4]:
%%time
spark.sql("""select 
             *, 
             case
                when obs.concept_id = 1839 then obs.value
                else null
                end as scheduled_visit,
              case
                when obs.concept_id = 5089 then obs.value
                else null
                end as weight,
              case
                when obs.concept_id = 5090 then obs.value
                else null
                end as height,
              case
                when obs.concept_id = 5088 then obs.value
                else null
                end as temp,
            case
                when obs.concept_id = 5092 then obs.value
                else null
                end as oxygen_sat,
            case
                when obs.concept_id = 5085 then obs.value
                else null
                end as systolic_bp,
             case
                when obs.concept_id = 5086 then obs.value
                else null
                end as diastolic_bp,
            case
                when obs.concept_id = 5087 then obs.value
                else null
                end as pulse

    from nested_df
                     """) .createOrReplaceTempView("vitals1")

CPU times: user 1.08 ms, sys: 1.39 ms, total: 2.47 ms
Wall time: 109 ms

In [5]:
%%time
spark.sql("""select

                first(patient_id, true) as patient_id,
                encounter_id,
                first(location_id) as location_id,
                first(encounter_datetime) as encounter_datetime,
                first(encounter_type) as encounter_type,
                first(gender) as gender,
                first(birthdate) as birthdate,
                first(weight, true) as weight_1,
                first(height, true) as height_1,
                first(temp, true) as temp_1,
                first(oxygen_sat, true) as oxygen_sat_1,
                first(systolic_bp, true) as systolic_bp_1,
                first(diastolic_bp, true) as diastolic_bp_1,
                first(pulse, true) as pulse_1
                from vitals1
            group by encounter_id
        """).createOrReplaceTempView("vitals2")

CPU times: user 1.16 ms, sys: 1.44 ms, total: 2.6 ms
Wall time: 67.3 ms

In [6]:
vitals = spark.sql("""select patient_id,encounter_id,encounter_datetime,
        case 
            when weight_1 is null and  lead(first(weight_1, true) over p) over p is not null
            then  lead(first(weight_1, true) over p) over p else first(weight_1, true) over p 
            end as weight,
        case 
            when height_1 is null and  lead(first(height_1, true) over p) over p is not null
            then  lead(first(height_1, true) over p) over p else first(height_1, true) over p 
            end as height,
        case 
            when temp_1 is null and  lead(first(temp_1, true) over p) over p is not null
            then  lead(first(temp_1, true) over p) over p else first(temp_1, true) over p 
            end as temp,
        case 
            when oxygen_sat_1 is null and  lead(first(oxygen_sat_1, true) over p) over p is not null
            then  lead(first(oxygen_sat_1, true) over p) over p else first(oxygen_sat_1, true) over p 
            end as oxygen_sat,
        case 
            when systolic_bp_1 is null and  lead(first(systolic_bp_1, true) over p) over p is not null
            then  lead(first(systolic_bp_1, true) over p) over p else first(systolic_bp_1, true) over p 
            end as systolic_bp,
        case 
            when diastolic_bp_1 is null and  lead(first(diastolic_bp_1, true) over p) over p is not null
            then  lead(first(diastolic_bp_1, true) over p) over p else first(diastolic_bp_1, true) over p 
            end as diastolic_bp,
        case 
            when pulse_1 is null and  lead(first(pulse_1, true) over p) over p is not null
            then  lead(first(pulse_1, true) over p) over p else first(pulse_1, true) over p 
            end as pulse
     from vitals2
     window p as (partition by patient_id, to_date(encounter_datetime)  order by encounter_datetime)
""")
vitals

+----------+------------+-------------------+------+------+----+----------+-----------+------------+-----+
|patient_id|encounter_id| encounter_datetime|weight|height|temp|oxygen_sat|systolic_bp|diastolic_bp|pulse|
+----------+------------+-------------------+------+------+----+----------+-----------+------------+-----+
|        69|         763|2016-09-06 09:33:37| 248.0|  97.0|41.0|      21.0|      227.0|        19.0|190.0|
|        69|         764|2016-09-06 10:13:37| 248.0|  97.0|41.0|      21.0|      227.0|        19.0|190.0|
|        94|        1071|2016-03-14 09:50:16|  14.0|  91.0|42.0|      75.0|      170.0|        76.0|  0.0|
|        94|        1072|2016-03-14 10:50:16|  14.0|  91.0|42.0|      75.0|      170.0|        76.0|  0.0|
|       157|        1721|2015-03-28 09:32:34|  65.0| 119.0|27.0|      10.0|      163.0|       129.0| 14.0|
|       157|        1722|2015-03-28 10:38:34|  65.0| 119.0|27.0|      10.0|      163.0|       129.0| 14.0|
|       236|        2517|2015-09-28 10:02:12| 182.0| 204.0|37.0|      49.0|      108.0|        83.0|220.0|
|       236|        2518|2015-09-28 10:40:12| 182.0| 204.0|37.0|      49.0|      108.0|        83.0|220.0|
|       245|        2611|2015-07-05 09:24:59|   4.0|  76.0|29.0|      65.0|      192.0|        60.0|197.0|
|       245|        2612|2015-07-05 10:28:59|   4.0|  76.0|29.0|      65.0|      192.0|        60.0|197.0|
|       478|        5365|2015-02-15 09:55:37|  64.0| 109.0|40.0|      27.0|      230.0|        97.0| 36.0|
|       478|        5366|2015-02-15 10:44:37|  64.0| 109.0|40.0|      27.0|      230.0|        97.0| 36.0|
|       365|        4015|2015-08-21 10:12:22|  10.0| 225.0|38.0|      48.0|      246.0|        13.0|183.0|
|       365|        4016|2015-08-21 11:22:22|  10.0| 225.0|38.0|      48.0|      246.0|        13.0|183.0|
|       370|        4057|2016-02-15 09:59:43| 208.0| 144.0|28.0|      26.0|      146.0|       132.0|143.0|
|       370|        4058|2016-02-15 10:39:43| 208.0| 144.0|28.0|      26.0|      146.0|       132.0|143.0|
|       426|        4709|2016-09-10 10:03:02| 106.0| 119.0|37.0|      28.0|      161.0|        19.0| 33.0|
|       426|        4710|2016-09-10 11:35:02| 106.0| 119.0|37.0|      28.0|      161.0|        19.0| 33.0|
|        15|          99|2015-08-14 09:56:05|   1.0|  73.0|29.0|      13.0|       85.0|       117.0| 77.0|
|        15|         100|2015-08-14 10:21:05|   1.0|  73.0|29.0|      13.0|       85.0|       117.0| 77.0|
+----------+------------+-------------------+------+------+----+----------+-----------+------------+-----+
only showing top 20 rows

In [11]:
from pyspark.sql.functions import col
vitals.sort(col("temp").desc())

+----------+------------+-------------------+------+------+----+----------+-----------+------------+-----+
|patient_id|encounter_id| encounter_datetime|weight|height|temp|oxygen_sat|systolic_bp|diastolic_bp|pulse|
+----------+------------+-------------------+------+------+----+----------+-----------+------------+-----+
|       436|        4839|2015-10-27 10:30:04| 226.0|  47.0|43.0|      28.0|       54.0|       129.0| 24.0|
|        25|         266|2016-05-09 10:25:31| 152.0| 199.0|43.0|      51.0|        4.0|       143.0| 34.0|
|       411|        4578|2016-12-14 11:25:59| 170.0|  23.0|43.0|      53.0|       35.0|       139.0|164.0|
|        77|         875|2016-08-08 09:09:34| 139.0| 180.0|43.0|       9.0|      209.0|        87.0| 92.0|
|        25|         265|2016-05-09 09:47:31| 152.0| 199.0|43.0|      51.0|        4.0|       143.0| 34.0|
|       394|        4346|2015-02-26 10:43:08|  52.0|  80.0|43.0|       3.0|      208.0|        78.0| 28.0|
|       411|        4577|2016-12-14 10:05:59| 170.0|  23.0|43.0|      53.0|       35.0|       139.0|164.0|
|        60|         677|2015-12-06 09:25:52|  11.0| 107.0|43.0|      45.0|        3.0|        26.0| 62.0|
|        77|         876|2016-08-08 10:33:34| 139.0| 180.0|43.0|       9.0|      209.0|        87.0| 92.0|
|       403|        4454|2015-07-11 11:20:00|  73.0| 155.0|43.0|      21.0|      153.0|       145.0| 32.0|
|       403|        4453|2015-07-11 10:34:00|  73.0| 155.0|43.0|      21.0|      153.0|       145.0| 32.0|
|        21|         191|2015-03-16 09:53:54| 166.0|  58.0|43.0|      94.0|       17.0|        98.0|180.0|
|        76|         861|2016-08-15 09:23:27| 141.0|  79.0|43.0|      20.0|       54.0|       133.0| 57.0|
|        76|         857|2016-08-15 09:43:25| 141.0|  79.0|43.0|      20.0|       54.0|       133.0| 57.0|
|       436|        4840|2015-10-27 10:41:04| 226.0|  47.0|43.0|      28.0|       54.0|       129.0| 24.0|
|        21|         192|2015-03-16 10:55:54| 166.0|  58.0|43.0|      94.0|       17.0|        98.0|180.0|
|        76|         862|2016-08-15 11:00:27| 141.0|  79.0|43.0|      20.0|       54.0|       133.0| 57.0|
|       394|        4345|2015-02-26 10:27:08|  52.0|  80.0|43.0|       3.0|      208.0|        78.0| 28.0|
|        60|         678|2015-12-06 10:15:52|  11.0| 107.0|43.0|      45.0|        3.0|        26.0| 62.0|
|        76|         858|2016-08-15 10:18:25| 141.0|  79.0|43.0|      20.0|       54.0|       133.0| 57.0|
+----------+------------+-------------------+------+------+----+----------+-----------+------------+-----+
only showing top 20 rows

Check the status: http://localhost:4040/streaming/